@import "reset.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body{
    background-color: #F8F9FA;
}

.velog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info > span, .user-info > button, .user-info > img{
    margin-right: 0.5rem;
}

.user-image{
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    border-radius: 50%;
    object-fit: cover;
}

.post-button{
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #212529;
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.nav{
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter{
    display: flex;
}

.trending, .current, .week{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 1rem;
    width: 5rem;
    margin-right: 0.5rem;
    
}

.trending{
    border-bottom: 2px solid black;
}

.trending span, .current span, .week span{
    margin-right: 0.5rem;
}

